.nav{
    display: flex;
    flex-direction: row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(242, 228, 255); */
}
.busImage{
    padding: 0px 73px;
}
.busticket{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-left: 123px;
}.busticket img{
    height: 30px;
}.cabrental{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-left: 80px;
}.cabrental img{
    height: 30px;
}
.help{
    display: flex;
    flex-direction: row;
    padding-left: 312px;
}
.help img{
    height: 30px;
}.account{
    display: flex;
    flex-direction: row;
    padding-left: 104px;
}
.account img{
    height: 30px;
}
.down1{
    background-image: url("./assets/HomeBannerImg.svg");
    background-size: cover;
    width: 100%;
    height: 388px;
}.down1heading{
    font-size: 39px;
    padding: 2px 190px;
}
.traveloption{
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.from{
    display: flex;
    flex-direction: row;
    gap: 22px;
    font-size: 30px;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 54px;
    border-bottom-left-radius: 54px ; 
    border-color:#7d7d7da1;

}
.frompara{
    padding-right: 28px;
}
.fromimg img{
    padding-left: 73px;
    height: 42px;
}
.to{
    display: flex;
    flex-direction: row;
    gap: 22px;
    font-size: 30px;
    align-items: center;
    background-color: #fff;
}
.topara{
    padding-right: 128px;
}
.toimg img{
    padding-left: 73px;
    height: 42px;
}.date{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    background-color: #fff;
}
.dateimg img{
    height: 42px;
    padding-right: 3px;
}.search{
    display: flex;
    align-items: center;
    background-color: rgb(189, 67, 67);
    padding-left: 75px;
    padding-right: 116px;
    border-top-right-radius: 54px;
    border-bottom-right-radius: 54px;
    font-size: 30px;
}.trendingoffers{
    display: flex;
    flex-direction: column;
    padding-right: 3px;
    padding-left: 23px;
    padding-top: 23px;
    width: 1092px;
    gap: 0px;
}.trendingoffers h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #bd89ea;
    padding-bottom: 34px;
}
.cardsgroup{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    min-width: 1090px;
    gap: 12px;
    background-color: #fff;
}
.card1{
    display: flex;
    flex-direction: row;
    border-radius: 13px;
    width: 528;
    height: 196;
    background-color: rgb(95, 95, 255);
    color: #fff;
    padding-right: 34px;
}
.card1left img{
    padding-left:12px ;
    padding-top: 34px;
}
.card1right{
    padding-left: 23px;
}.busbtn{
    border-radius: 9px;
    border: 0px;
    padding: 7px;
    color: #fff;
    background-color: rgb(118, 133, 183);
}.first{
    border-radius: 4px;
    padding: 3px;
    background-color: rgb(118, 133, 183);
}.card1right img{
    padding-left: 25px;
    color: #fff;
    padding-top: 1px;
    background-color: rgb(95, 95, 255);
}.card2{
    display: flex;
    flex-direction: row;
    border-radius: 13px;
    width: 330px;
    background-color: rgb(79, 198, 115);
    color: #fff;
}
.card2left img{
    padding-left:12px ;
    padding-top: 34px;
}
.card2right{
    padding-left: 23px;
}.busbtn2{
    border-radius: 9px;
    border: 0px;
    padding: 7px;
    color: #fff;
    background-color: rgb(151, 255, 194);
}.superhit{
    border-radius: 4px;
    padding: 3px;
    background-color: rgb(151, 255, 194);
}.card2right img{
    padding-left: 25px;
    color: #fff;
    padding-top: 1px;
    background-color: rgb(79, 198, 115);
}.card3{
    display: flex;
    flex-direction: row;
    border-radius: 13px;
    width: 330px;
    background-color: rgb(244, 71, 61);
    color: #fff;
}
.card3left img{
    padding-left:12px ;
    padding-top: 34px;
}
.card3right{
    padding-left: 23px;
}.busbtn3{
    border-radius: 9px;
    border: 0px;
    padding: 7px;
    color: #fff;
    background-color: rgb(255, 168, 156);
}.BUS200{
    border-radius: 4px;
    padding: 3px;
    background-color: rgb(255, 168, 156);
}.card3right img{
    padding-left: 25px;
    color: #fff;
    padding-top: 1px;
    background-color:  rgb(244, 71, 61);
}.card4{
    display: flex;
    flex-direction: row;
    border-radius: 13px;
    width: 330px;
    background-color: rgb(255, 42, 220);
    color: #fff;
}
.card4left img{
    padding-left:12px ;
    padding-top: 34px;
}
.card4right{
    padding-left: 23px;
}.busbtn4{
    border-radius: 9px;
    border: 0px;
    padding: 7px;
    color: #fff;
    background-color: rgb(255, 172, 254);
}.BUS200{
    border-radius: 4px;
    padding: 3px;
    background-color:rgb(255, 172, 254);
}.card4right img{
    padding-left: 25px;
    color: #fff;
    padding-top: 1px;
    background-color:   rgb(255, 42, 220);
}
.down2{
    padding-top: 337px;
    display: flex;
    flex-direction: row;
}.left{
    display: flex;
    flex-direction: column;
}
.down2 .left h1{
    font-size: 49px;
    padding: 49px;
}
.bustrainticket{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    border-color: gray;
    width: fit-content;
}
.down2busbtn{
    display: flex;
    border: 0px;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    color: red;
    border-bottom:2px solid red;
}.down2bus img{
    padding: 2px 12px;
}.down2train{
    padding: 2px 12px;
}
.down2trainbtn{
    display: flex;
    border: 2px;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-color: rgb(190, 189, 189);
    border-left-style: dashed;
}.down2busbtn:hover , .down2trainbtn:hover{
    background-color: gray;
}
.outstation{
    display: flex;
    flex-direction: row;
    align-items: center;
}.outstation img{
    padding-right: 73px;
}.buscab{
    padding-top: 48px;
}
.busrentabtn{
    padding: 5px 23px;
    display: flex;
    border: 0px;
    flex-direction: row;
    width: 260px;
    align-items: center;
    color: #fff;
    background-color: red;
    border-radius: 13px;
}.busrentabtn img{
    padding-left: 19px;
}
.down2 .right{
    width: 578px;
    background-image: url("./assets/aboutUsImg.svg");
}
.down2 .right img{
    padding-top: 313px;
    height: 50%;
}.down3{
    padding-top: 160px;
    padding-left: 44px;
}
.enjoy{
    background-image: url("./assets/appInstallbg.svg");
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    height: 420px;
    padding-left: 51px;
}.enjoycontainer{
    display: flex;
    flex-direction: row;
}
.enjoyleft{
    display:flex;
    flex-direction: column;
    padding-left: 34px;
    padding-top: 34px;
    height: 222px;
    width: 296px;
    background-color: #fff;
    border-radius: 24px;
}.quickaccess{
    display: flex;
    flex-direction: row;
    align-items: center;
}.superior{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.enjoyleft .downloads{
    display:flex;
    flex-direction: row;
}
.downloadsleft img{
    height: 15px;
    width: 17px;
}#downloadsleftright p{
    border-left: 2px solid gray;
    padding-left: 23px;
}
.star4{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.enjoyright{
    display:flex;
    flex-direction: column;
    padding-left: 34px;
    font-family: sans-serif;
    color: #fff;
    font-size: 19px;
}.enjoyright .link{
    display: flex;
    flex-direction: row;
}.whatsapp{
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: gray;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 4px 15px;
}.getlink{
    background-color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #fff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 4px 15px;
}
.downloadmedium{
    display: flex;
    flex-direction: row;
}.downloadmediumright{
    display: flex;
    flex-direction: column;
    padding-left: 23px;
    gap: 6px;
}
.primo{
    padding-top: 100px;
}.topprimo{
    display: flex;
    justify-content: center;
    align-items: center;
}.downprimo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 211px;
    padding-top: 31px;
}.down1primo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.down2primo{
    padding-left: 153px;
}
.primocard1{
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 330px;
    background-image: linear-gradient(to right , rgb(23, 79, 185), rgb(116, 37, 155));
    border-radius: 23px;
}.primocard1left img{
    padding: 23px 34px;
}.primocard1right{
    color: #fff;
}.primocard2{
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 330px;
    background-image: linear-gradient(to right , rgb(23, 79, 185), rgb(116, 37, 155));
    border-radius: 23px;
}.primocard2left img{
    padding: 23px 34px;
}.primocard2right{
    color: #fff;
}.primocard3{
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 330px;
    background-image: linear-gradient(to right , rgb(23, 79, 185), rgb(116, 37, 155));
    border-radius: 23px;
}.primocard3left img{
    padding: 23px 34px;
}.primocard3right{
    color: #fff;
}